global
        maxconn 1024
        user haproxy
        group haproxy
 
defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option  redispatch
        maxconn 2000
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000
 
listen webcluster *:80
        mode    http
        stats   enable
        stats   auth us3r:pa55Word
        balance roundrobin
        option httpchk HEAD / HTTP/1.0
        option forwardfor
        cookie LSW_WEB insert
        option httpclose
        server app01 10.20.30.40:4567 cookie LSW_APP01 check
        server app02 10.20.30.41:4567 cookie LSW_APP02 check
